@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #45f3ff;
  --secondary: #573aff;
  --fontColor: #fbfbfb;
  --bgColor: #1a202b;
  --primaryDark: #37c2cc;
  --primaryExtraDark: #15494d;
  --secondaryDark: #462ecc;
  --secondaryExtraDark: #110c33;
  --bgColorDark: #10131a;
  --bgColorExtraDark: #0a0d11;
}

body {
  background: #fbfbfb;
}
