@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #45f3ff;
  --secondary: #573aff;
  --fontColor: #fbfbfb;
  --bgColor: #1a202b;
  --primaryDark: #37c2cc;
  --primaryExtraDark: #15494d;
  --secondaryDark: #462ecc;
  --secondaryExtraDark: #110c33;
  --bgColorDark: #10131a;
  --bgColorExtraDark: #0a0d11;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
